.advantage {
    padding: 4rem 2rem;
    background-color: white;

}

.section-container {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
}

.advantage-grid {
    display: grid;
    grid-template-columns: 1.4fr 1.3fr;
    gap: 2rem;
    align-items: center;
}

.advantage-left h2 {
    font-size: 3rem;
    color: var(--text-dark);
    font-weight: 500;
    line-height: 1.2;
}

.advantage-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.advantage-right p {
    font-size: 1.25rem;
    color: #6D6A74;
    line-height: 1.6;
}

.advantage-right .btn-orange {
    align-self: flex-start;
    justify-content: center;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-weight: 500;
}
.advantage-right .btn-orange .icon{
   height: 1.5rem;
   width: 1.5rem;
}

.animate-arrow {
    display: flex;
    transition: transform 0.3s ease;
}

.btn-orange:hover .animate-arrow {
    transform: translateX(5px);
}

/* Arrow hover animations */
.btn-orange .button_arrow {
    transform: translateX(0px);

    transition: transform 0.4s ease;
    
}
.btn-orange:hover .button_arrow {
    transform: translateX(22px);

    transition: transform 0.4s ease;
    
}

/* Left arrow - slides in from left on hover */
.btn-orange .button_arrow:nth-of-type(1) {
    /* transform: translateX(0px); */
    /* opacity: 0; */
    transition: all 0.4s ease;
}

/* Right arrow - moves further right on hover */
.btn-orange:hover .button_arrow:nth-of-type(1) {
    transform: translateX(8px);
    opacity: 0;
    transition: all 0.4s ease;
}

.btn-orange .button_arrow:nth-of-type(2) {
    /* transform: translateX(10px); */
    opacity: 1;
    transition: all 0.4s ease;
}

.btn-orange:hover .button_arrow:nth-of-type(2) {
    transform: translateX(0);
    transform: translateX(20px);
    opacity: 1;
}



@media (max-width: 900px) {
    .advantage {
        padding: 5rem 1.5rem;
    }

    .advantage-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .advantage-left h2 {
        font-size: 2.25rem;
    }

    .advantage-right p {
        font-size: 1.1rem;
    }
}