.advantage {
    padding: 8rem 2rem;
    background-color: white;

}

.section-container {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
}

.advantage-grid {
    display: grid;
    grid-template-columns: 1.4fr 1.3fr;
    gap: 2rem;
    align-items: start;
}

.advantage-left h2 {
    font-size: 3rem;
    color: var(--text-dark);
    font-weight: 500;
    line-height: 1.2;
}

.advantage-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.advantage-right p {
    font-size: 1.25rem;
    color: #6D6A74;
    line-height: 1.6;
}

.advantage-right .btn-orange {
    align-self: flex-start;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-weight: 500;
}

@media (max-width: 900px) {
    .advantage {
        padding: 5rem 1.5rem;
    }

    .advantage-grid {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .advantage-left h2 {
        font-size: 2.25rem;
    }

    .advantage-right p {
        font-size: 1.1rem;
    }
}