.agility {
    padding: 8rem 2rem;
    /* background-color: #F8F9FA; */
}

.agility-title {
    font-size: 2.25rem;
    margin-bottom: 5rem;
    font-weight: 500;
    line-height: 1.3;
}

.agility-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.agility-card {
    background-color: #F5F4F8;
    display: flex;
    padding: 2rem;
    gap: 2rem;
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05); */
}

.agility-image {
    /* flex: 1; */
    width: 40%;
    height: 248px;
}

.agility-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.agility-info {
    /* flex: 1.8; */
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.agility-info h3 {
    font-size: 1.5rem;
    color: var(--text-dark);
    font-weight: 500;
}

.agility-info p {
    font-size: 0.95rem;
    color: #666;
    line-height: 1.5;
}

@media (max-width: 1024px) {
    .agility {
        padding: 5rem 1.5rem;
    }

    .agility-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .agility-card {
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.5rem;
    }

    .agility-image {
        width: 100%;
        height: 200px;
    }

    .agility-info {
        width: 100%;
    }

    .agility-title {
        font-size: 1.75rem;
    }
}