.cta-section {
    padding: 6rem 2rem;
    background: linear-gradient(85.14deg, #F7E4FD 0%, #FFEBD9 100%);
    text-align: left;
}

.cta-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.cta-content h2 {
    font-size: 2.75rem;
    color: var(--text-dark);
    font-weight: 500;
}

.cta-content p {
    font-size: 1.25rem;
    color: #666;
    max-width: 600px;
}

.cta-btn {
    background-color: white;
    border: none;
    /* border-radius: 4px; */
    display: flex;
    align-items: center;
    width: fit-content;
    /* font-weight: 600; */
    color: black;
    margin-top: 2rem;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); */
    cursor: pointer;
    transition: transform 0.3s;
    overflow: hidden;

    padding: 0.75rem 1.5rem;
    /* padding: 8px 12px; */
    gap: 12px;
}

.cta-btn:hover {
    transform: translateY(-2px);
}

.cta-btn-text {
    font-size: 1rem;
}
.animate-arrow {
   display: flex;
   transition: transform 0.3s ease;
}

.cta-btn:hover .animate-arrow {
   transform: translateX(5px);
}



.cta-btn-icon {
    background-color: var(--primary-orange);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    height: 100%;
}


.cta-btn .icon {
    height: 1.5rem;
    width: 1.5rem;
}

.animate-arrow {
    display: flex;
    transition: transform 0.3s ease;
}

.cta-btn:hover .animate-arrow {
    transform: translateX(5px);
}

/* Arrow hover animations */
.cta-btn .button_arrow {
    transform: translateX(0px);

    transition: transform 0.4s ease;

}

.cta-btn:hover .button_arrow {
    transform: translateX(22px);

    transition: transform 0.4s ease;

}

/* Left arrow - slides in from left on hover */
.cta-btn .button_arrow:nth-of-type(1) {
    /* transform: translateX(0px); */
    /* opacity: 0; */
    transition: all 0.4s ease;
}

/* Right arrow - moves further right on hover */
.cta-btn:hover .button_arrow:nth-of-type(1) {
    transform: translateX(8px);
    opacity: 0;
    transition: all 0.4s ease;
}

.cta-btn .button_arrow:nth-of-type(2) {
    /* transform: translateX(10px); */
    opacity: 1;
    transition: all 0.4s ease;
}

.cta-btn:hover .button_arrow:nth-of-type(2) {
    transform: translateX(0);
    transform: translateX(20px);
    opacity: 1;
}

.animate-arrow {
    display: flex;
    transition: transform 0.3s ease;
}

.cta-btn:hover .animate-arrow {
    transform: translateX(5px);
}


@media (max-width: 768px) {
    .cta-section {
        padding: 5rem 1.5rem;
    }

    .cta-content h2 {
        font-size: 2rem;
    }

    .cta-content p {
        font-size: 1.1rem;
    }
}