.footer-v2 {
    background-color: #111111;
    color: white;
    padding: 8rem 2rem 2rem;
}

.footer-top {
    display: flex;
    gap: 6rem;
    margin-bottom: 6rem;
}

.footer-brand {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.footer-logo {
    font-size: 2.5rem;
    font-weight: 600;
}

.footer-brand h2 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.3;
    opacity: 0.9;
    background: linear-gradient(263.47deg, #F8EAFB 0%, #BEBCFD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.social-links-area {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.social-links-area p{
   font-size: 1.2rem;
}

.social-icons {
    display: flex;
    gap: 0.5rem;
}

.social-icons a {
    width: 44px;
    height: 44px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: background 0.3s;
}

.social-icons a:hover {
    background-color: #333;
    opacity: 1;
}

.footer-links-grid {
    flex: 3;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 4rem;
}

.footer-column h4 {
    font-size: 0.9rem;
    /* text-transform: uppercase; */
    color: #666;
    font-weight: 500;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #222;
    padding-bottom: 1rem;
    letter-spacing: 1px;
}

.footer-sub-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.footer-column h5 {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #DDD;
}

.footer-column h5 svg {
    color: var(--primary-orange);
}

.footer-column a {
    display: block;
    font-size: 0.95rem;
    color: #999;
    margin-bottom: 1rem;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: white;
    opacity: 1;
}

.all-products {
    margin-top: 3rem;
    color: white !important;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footer-link-group {
    margin-bottom: 3.5rem;
}

.misc-links {
    margin-top: 2rem;
}

.footer-bottom {
    padding-top: 4rem;
    border-top: 1px solid #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
    color: white;
}

.legal-links {
    display: flex;
    gap: 2rem;
}

@media (max-width: 1200px) {
    .footer-top {
        flex-direction: column;
        gap: 4rem;
    }

    .footer-links-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .footer-links-grid {
        grid-template-columns: 1fr;
    }

    .footer-sub-grid {
        grid-template-columns: 1fr;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }
}