.hero {
    position: relative;
    height: 60vh;
    min-height: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: white;
    padding: 0 4rem;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 100%); */
    z-index: -1;
}

.hero-content-main {
    width: 100%;
}

.hero-content {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
}


.hero-content h1 {
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    font-weight: 500;
}

.hero-content p {
    font-size: 1.25rem;
    font-weight: 500;
    opacity: 0.9;
}

@media (max-width: 1024px) {
    .hero {
        padding: 0 2rem;
        height: 50vh;
        min-height: 400px;
    }

    .hero-content h1 {
        font-size: 2.75rem;
    }
}

@media (max-width: 768px) {
    .hero {
        padding: 0 1.5rem;
        height: 60vh;
        text-align: center;
    }

    .hero-content h1 {
        font-size: 2.25rem;
    }

    .hero-content p {
        font-size: 1.1rem;
    }
}