.navbar {

    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    padding: 0 4rem;
}

.navbar.scrolled {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.1s ease-in-out;
    /* background-color: white; */
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.navbar-container {
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-side {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.logo-text {
    font-size: 26px;
    font-weight: 900;
    color: #2D008E;
    letter-spacing: -0.5px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 2.25rem;
    align-items: center;
    /* margin-left: 4rem; */
}

.nav-links li {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.2s;
}

.nav-links li svg {
    stroke-width: 1.5px;
    opacity: 0.7;
}

.navbar.scrolled .nav-links li {
    color: #333333;
}

.nav-actions {
    display: flex;
    align-items: center;
}

.search-icon {
    cursor: pointer;
    stroke-width: 1.5px;
}

.navbar.scrolled .search-icon {
    color: #1A1A1A;
}

@media (max-width: 1024px) {
    .navbar {
        padding: 0 2rem;
    }
}

@media (max-width: 900px) {
    .nav-links {
        display: none;
    }
}