.portfolio {
    padding: 8rem 2rem;
    background-color: white;
}

.portfolio-title {
    font-size: 2.5rem;
    margin-bottom: 4rem;
    font-weight: 500;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
}

.portfolio-card {
    background-color: #F5F4F8;
    display: flex;
    height: 276px;
    justify-content: start;
    padding: 10px;
    gap: 1rem;
    border-radius: 8px;
    transition: transform 0.3s;
}

.portfolio-card:hover {
    transform: translateY(-5px);
}

.portfolio-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-image img {
    max-width: 100%;
    height: 99%;
    border-radius: 4px;
}

.portfolio-info {
    flex: 1.2;
    display: flex;
    padding: 1rem 0;
    flex-direction: column;
    gap: 1rem;
}

.portfolio-info h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-dark);
}

.portfolio-info p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}

.portfolio-arrow {
    margin-top: auto;
    color: var(--primary-orange);
    cursor: pointer;
}

.ordering-guide-btn {
    padding: 1rem 2.5rem;
}

@media (max-width: 1024px) {
    .portfolio-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .portfolio-card {
        flex-direction: column;
    }
}