.word-reveal-container {
    /* max-width: 900px; */
    padding-bottom: 2rem;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
}


.word-reveal-container h2 {
    display: inline;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
}