.word-reveal-container { 
    max-width: 900px;
    padding-bottom: 2rem;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
}


/* .word-reveal-container span:last-child {
    margin-right: 0;
} */
